1. Read transactions
2. Verify uniqueness
3. Store in SQL

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transactions.csv')

In [3]:
df

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,11/25/2022,TST* Mojos Tacos,TST* Mojos Tacos,14.54,debit,Restaurants,CREDIT CARD,NaN,NaN
1,11/25/2022,TST* FRANKLIN FACTORY,TST* FRANKLIN FACTORY,10.70,debit,Restaurants,CREDIT CARD,NaN,NaN
2,11/23/2022,TST* Tavernakaya,TST* Tavernakaya,23.21,debit,Restaurants,CREDIT CARD,NaN,NaN
3,11/23/2022,TST* The Great Dane Pub &,TST* The Great Dane Pub &,9.44,debit,Restaurants,CREDIT CARD,NaN,NaN
4,11/23/2022,BP#9264557PARK STREQPS MADISON WI,BP#9264557PARK STREQPS MADISON WI,39.89,debit,Gas & Fuel,Citi® Double Cash Card,NaN,NaN
...,...,...,...,...,...,...,...,...,...
260,8/29/2022,EXXONMOBIL 99879678,EXXONMOBIL 99879678,12.79,debit,Gas & Fuel,CREDIT CARD,NaN,NaN
261,8/29/2022,TST* Red - Madison,TST* Red - Madison,55.90,debit,Restaurants,CREDIT CARD,NaN,NaN
262,8/29/2022,AMZN Mktp US*VR6AV6C93 Amzn.com/bill WA,AMZN Mktp US*VR6AV6C93 Amzn.com/bill WA,149.89,debit,Shopping,Citi® Double Cash Card,NaN,NaN
263,8/28/2022,GOTHAMBAGELS.COM MADISON WI,GOTHAMBAGELS.COM MADISON WI,8.70,debit,Restaurants,Citi® Double Cash Card,NaN,NaN
264,8/28/2022,FESTIVAL FOODS MADISON WI,FESTIVAL FOODS MADISON WI,49.97,debit,Groceries,Citi® Double Cash Card,NaN,NaN

In [6]:
df[df['Transaction Type'] == 'credit']

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
48,11/07/2022,PAYMENT - THANK YOU,PAYMENT - THANK YOU,2723.45,credit,Credit Card Payment,Citi® Double Cash Card,NaN,NaN
75,11/02/2022,STEAM PURCHASE 425-9522985 WA,STEAM PURCHASE 425-9522985 WA,21.09,credit,Income,Citi® Double Cash Card,NaN,NaN
77,11/01/2022,AUTOMATIC PAYMENT - THANK,AUTOMATIC PAYMENT - THANK,1104.72,credit,Credit Card Payment,CREDIT CARD,NaN,NaN
84,10/28/2022,HAMPTON INN & SUITES BAL,HAMPTON INN & SUITES BAL,446.48,credit,Hotel,CREDIT CARD,NaN,NaN
145,10/07/2022,PAYMENT THANK YOU,PAYMENT THANK YOU,1496.38,credit,Credit Card Payment,Citi® Double Cash Card,NaN,NaN
147,10/06/2022,Thankyou Points Redeemed TY OR192654876,Thankyou Points Redeemed TY OR192654876,330.25,credit,Income,Citi® Double Cash Card,NaN,NaN
163,9/30/2022,AUTOMATIC PAYMENT - THANK,AUTOMATIC PAYMENT - THANK,947.41,credit,Credit Card Payment,CREDIT CARD,NaN,NaN
232,9/07/2022,PAYMENT THANK YOU,PAYMENT THANK YOU,1516.87,credit,Credit Card Payment,Citi® Double Cash Card,NaN,NaN
250,9/02/2022,STEAM PURCHASE 425-9522985 WA,STEAM PURCHASE 425-9522985 WA,10.54,credit,Income,Citi® Double Cash Card,NaN,NaN
252,9/01/2022,AUTOMATIC PAYMENT - THANK,AUTOMATIC PAYMENT - THANK,2085.65,credit,Credit Card Payment,CREDIT CARD,NaN,NaN

In [7]:
df['Category'].unique()

array(['Restaurants', 'Gas & Fuel', 'Fast Food', 'Groceries',
       'Service & Parts', 'Entertainment', 'Shopping', 'Gym',
       'Furnishings', 'Hotel', 'Alcohol & Bars', 'Travel', 'Coffee Shops',
       'Parking', 'Ride Share', 'Internet', 'Utilities',
       'Credit Card Payment', 'Television', 'Auto Insurance', 'Income',
       'Hair', 'Gifts & Donations', 'Spa & Massage', 'Food & Dining',
       'Food Delivery', 'Books', 'Amusement', 'Business Services',
       'Service Fee', 'Newspapers & Magazines', 'Electronics & Software',
       'Pharmacy', 'Pet Food & Supplies', 'Music', 'Arts', 'Sports'],
      dtype=object)

In [8]:
df['Labels'].unique()

array([nan])

In [3]:
import csv

with open('mint transactions/transactions.csv') as f:
    reader = csv.reader(f)
    lines = [x for x in reader]

In [4]:
import hashlib

data = []
expected_columns = ['Date', 'Description', 'Original Description', 'Amount', 'Transaction Type', 
                    'Category', 'Account Name', 'Labels', 'Notes']
filepath = 'mint transactions/transactions.csv'

with open(filepath) as f:
    reader = csv.reader(f)
    
    columns = next(reader)
    if columns != expected_columns:
        raise Error(f'Columns do not equal expected columns in {filepath}!')
    
    for tx in reader:
        old_date = tx[0]
        month, day, year = old_date.split('/')
        new_date = year + '-' + month + '-' + day
        print(new_date)
        tx_id = hashlib.sha256((new_date + tx[1] + tx[3] + tx[4]).encode('utf-8')).hexdigest()
        data.append((tx_id, new_date, tx[1], tx[3], tx[4], tx[6], tx[5]))

2022-11-25
2022-11-25
2022-11-23
2022-11-23
2022-11-23
2022-11-23
2022-11-23
2022-11-22
2022-11-22
2022-11-20
2022-11-19
2022-11-19
2022-11-18
2022-11-18
2022-11-17
2022-11-17
2022-11-17
2022-11-16
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-12
2022-11-11
2022-11-11
2022-11-11
2022-11-09
2022-11-09
2022-11-09
2022-11-09
2022-11-08
2022-11-08
2022-11-07
2022-11-07
2022-11-07
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-05
2022-11-05
2022-11-05
2022-11-05
2022-11-04
2022-11-04
2022-11-04
2022-11-04
2022-11-03
2022-11-03
2022-11-03
2022-11-03
2022-11-02
2022-11-02
2022-11-02
2022-11-01
2022-11-01
2022-10-31
2022-10-31
2022-10-31
2022-10-31
2022-10-30
2022-10-29
2022-10-28
2022-10-28
2022-10-28
2022-10-27
2022-10-26
2022-10-25
2022-10-25
2022-10-25
2022-10-24
2022-10-23
2022-10-23
2022-10-23
2022-10-23
2022-10-23
2022-10-22
2022-10-22
2022-10-22
2022-10-22
2022-10-20
2022-10-20
2022-10-19
2022-10-19
2022-10-19
2022-10-19
2022-10-18
2022-10-18
2022-10-18
2022-10-17
2022-10-17
2022-10-17
2022-10-17
2022-10-16
2022-10-16
2022-10-16
2022-10-16
2022-10-16
2022-10-15
2022-10-15
2022-10-14
2022-10-13
2022-10-13
2022-10-12
2022-10-12
2022-10-12
2022-10-12
2022-10-11
2022-10-10
2022-10-10
2022-10-10
2022-10-10
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-08
2022-10-08
2022-10-08
2022-10-07
2022-10-07
2022-10-06
2022-10-06
2022-10-06
2022-10-06
2022-10-06
2022-10-05
2022-10-05
2022-10-04
2022-10-04
2022-10-04
2022-10-03
2022-10-02
2022-10-02
2022-10-02
2022-10-02
2022-10-02
2022-9-30
2022-9-30
2022-9-29
2022-9-28
2022-9-28
2022-9-28
2022-9-28
2022-9-27
2022-9-27
2022-9-26
2022-9-26
2022-9-25
2022-9-25
2022-9-24
2022-9-24
2022-9-23
2022-9-23
2022-9-23
2022-9-23
2022-9-23
2022-9-23
2022-9-23
2022-9-23
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-22
2022-9-21
2022-9-21
2022-9-21
2022-9-20
2022-9-19
2022-9-19
2022-9-19
2022-9-19
2022-9-18
2022-9-18
2022-9-18
2022-9-18
2022-9-17
2022-9-17
2022-9-17
2022-9-16
2022-9-16
2022-9-16
2022-9-16
2022-9-15
2022-9-15
2022-9-14
2022-9-13
2022-9-12
2022-9-11
2022-9-11
2022-9-11
2022-9-11
2022-9-11
2022-9-11
2022-9-10
2022-9-10
2022-9-10
2022-9-09
2022-9-08
2022-9-07
2022-9-07
2022-9-07
2022-9-06
2022-9-06
2022-9-06
2022-9-06
2022-9-06
2022-9-06
2022-9-06
2022-9-05
2022-9-05
2022-9-04
2022-9-04
2022-9-04
2022-9-04
2022-9-04
2022-9-03
2022-9-02
2022-9-02
2022-9-02
2022-9-01
2022-9-01
2022-9-01
2022-9-01
2022-9-01
2022-9-01
2022-8-31
2022-8-31
2022-8-29
2022-8-29
2022-8-29
2022-8-28
2022-8-28

In [32]:
import sqlite3

con = sqlite3.connect('transactions.db')
cur = con.cursor()

cur.executemany('INSERT OR IGNORE INTO transactions VALUES(?, ?, ?, ?, ?, ?, ?)', data)
con.commit()

In [36]:
cur.execute('SELECT * FROM transactions')
txs = [row for row in cur]
len(txs)

264

In [37]:
import os

os.listdir('mint transactions')

['transactions.csv']

In [39]:
['mint transactions/' + fn for fn in os.listdir('mint transactions') if fn.endswith('.csv')]

['mint transactions/transactions.csv']

In [10]:
import sqlite3

con = sqlite3.connect('transactions.db')
cur = con.cursor()

cur.execute('SELECT * FROM transactions')
txs = [row for row in cur]
len(txs)

264

In [12]:
for tx in txs:
    print(tx[1])

2022-11-25
2022-11-25
2022-11-23
2022-11-23
2022-11-23
2022-11-23
2022-11-23
2022-11-22
2022-11-22
2022-11-20
2022-11-19
2022-11-19
2022-11-18
2022-11-18
2022-11-17
2022-11-17
2022-11-17
2022-11-16
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-14
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-13
2022-11-12
2022-11-11
2022-11-11
2022-11-11
2022-11-09
2022-11-09
2022-11-09
2022-11-09
2022-11-08
2022-11-08
2022-11-07
2022-11-07
2022-11-07
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-06
2022-11-05
2022-11-05
2022-11-05
2022-11-05
2022-11-04
2022-11-04
2022-11-04
2022-11-04
2022-11-03
2022-11-03
2022-11-03
2022-11-03
2022-11-02
2022-11-02
2022-11-02
2022-11-01
2022-11-01
2022-10-31
2022-10-31
2022-10-31
2022-10-31
2022-10-30
2022-10-29
2022-10-28
2022-10-28
2022-10-28
2022-10-27
2022-10-26
2022-10-25
2022-10-25
2022-10-25
2022-10-24
2022-10-23
2022-10-23
2022-10-23
2022-10-23
2022-10-23
2022-10-22
2022-10-22
2022-10-22
2022-10-22
2022-10-20
2022-10-20
2022-10-19
2022-10-19
2022-10-19
2022-10-19
2022-10-18
2022-10-18
2022-10-18
2022-10-17
2022-10-17
2022-10-17
2022-10-17
2022-10-16
2022-10-16
2022-10-16
2022-10-16
2022-10-16
2022-10-15
2022-10-15
2022-10-14
2022-10-13
2022-10-13
2022-10-12
2022-10-12
2022-10-12
2022-10-12
2022-10-11
2022-10-10
2022-10-10
2022-10-10
2022-10-10
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-09
2022-10-08
2022-10-08
2022-10-08
2022-10-07
2022-10-07
2022-10-06
2022-10-06
2022-10-06
2022-10-06
2022-10-06
2022-10-05
2022-10-05
2022-10-04
2022-10-04
2022-10-04
2022-10-03
2022-10-02
2022-10-02
2022-10-02
2022-10-02
2022-10-02
2022-09-30
2022-09-30
2022-09-29
2022-09-28
2022-09-28
2022-09-28
2022-09-28
2022-09-27
2022-09-27
2022-09-26
2022-09-26
2022-09-25
2022-09-25
2022-09-24
2022-09-24
2022-09-23
2022-09-23
2022-09-23
2022-09-23
2022-09-23
2022-09-23
2022-09-23
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-22
2022-09-21
2022-09-21
2022-09-21
2022-09-20
2022-09-19
2022-09-19
2022-09-19
2022-09-19
2022-09-18
2022-09-18
2022-09-18
2022-09-18
2022-09-17
2022-09-17
2022-09-17
2022-09-16
2022-09-16
2022-09-16
2022-09-16
2022-09-15
2022-09-15
2022-09-14
2022-09-13
2022-09-12
2022-09-11
2022-09-11
2022-09-11
2022-09-11
2022-09-11
2022-09-11
2022-09-10
2022-09-10
2022-09-10
2022-09-09
2022-09-08
2022-09-07
2022-09-07
2022-09-07
2022-09-06
2022-09-06
2022-09-06
2022-09-06
2022-09-06
2022-09-06
2022-09-06
2022-09-05
2022-09-05
2022-09-04
2022-09-04
2022-09-04
2022-09-04
2022-09-04
2022-09-03
2022-09-02
2022-09-02
2022-09-02
2022-09-01
2022-09-01
2022-09-01
2022-09-01
2022-09-01
2022-09-01
2022-08-31
2022-08-31
2022-08-29
2022-08-29
2022-08-29
2022-08-28
2022-08-28

In [9]:
old = '9/1/2022'
month, day, year = [int(x) for x in old.split('/')]
f'{year}-{month:02d}-{day:02d}'

'2022-09-01'